@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('D:\program\web doc\redux\redux1\public\bg3.jpeg'); /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image horizontally and vertically */
    background-size: 100% auto;
}

